html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  overflow-x: hidden;
}

.start,
.below,
.left,
.right,
.above {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #EEE;
}

.below {
  transform: translateY(100%);
}

.right {
  transform: translateX(100%);
}

.left {
  transform: translateX(-100%);
}

.above {
  transform: translateY(-100%);
}
